  /* Base Styles */
  html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .wrapper {
    min-height: calc(100% - 7em);
    background-color: #FFFFFF;
    padding-top: 5em;
    margin-bottom: -3em; /* Must be equal to height of footer */
    margin-right: 3%;
    margin-left: 3%;
    z-index: 1;
  }

  /* Navbar Styles */
  .navbar {
    background-color: #FFFFFF;
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    align-items: baseline;
    display: inline-flex;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 1em;
    padding-bottom: 0.5em;
    z-index: 2;
  }

  .navbar-right {
    display: inline-flex;
    margin-left: auto;
    margin-right: 0;
    list-style-type: none;
  }

  .nav-brand {
    font-weight: bold;
    font-size: 28px;
    font-family: "Playfair Display";
    color: #7353ba;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
  }

  .nav-link {
    color: #7353ba;
    text-decoration: none;
    padding: 0.6em 0.75em;
    border-radius: 0.75em;
    margin: 0.25em;
  }

  .nav-link:hover {
    color: #7353ba;
    opacity: 80%;
  }

  .nav-link.active {
    color: #ffffff;
    background-color: #7353ba;
  }

  /* Footer Styles */
  .footer {
    height: 3em;
    width: 100%;
    padding-top: 2em;
    background-color: #C7BAE3;
    display: inline-flex;
    font-size: 14px;
  }

  .footer-item {
    color: #424242;
    text-align: center;
    width: 33.33%;
    padding: auto 0;
  }

  .footer-link {
    color: #424242;
  }

  /* Content Styles */
  .card {
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: #C7BAE3;
    color: #424242;
    font-size: 16px;
  }

  .card-title {
    color: #3B3B3B;
    font-size: 24px;
  }

  .event-list {
    max-height: 30em;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .event-list-title {
    color: #7353ba;
    font-size: 24px;
    font-weight: bold;
  }

  .event {
    padding: 0.75em;
    margin-top: 0.5em;
    background-color: #C7BAE3;
    border-radius: 0.5em;
    color: #424242;
  }

  .event-title {
    color: #3B3B3B;
    font-weight: bold;
    font-size: normal;
    padding-bottom: 0.5em;
  }

  .event-content {
    color: #424242;
    font-size: small;
  }

  .event-date {
    color: #424242;
    font-size: smaller;
    text-align: right;
    font-style: italic;
  }

  /* Grid Styles */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: left;
  }

  .one-third {
    width: 33%;
    max-width: 33%;
    min-width: 33%;
  }

  .two-thirds {
    width: 66%;
    max-width: 66%;
    min-width: 66%;
  }

  .one-quarter {
    width: 25%;
    max-width: 25%;
    min-width: 25%;
  }

  .one-half {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
  }

  .three-quarters {
    width: 75%;
    max-width: 75%;
    min-width: 75%;
  }

  .one-fifth {
    width: 20%;
    max-width: 20%;
    min-width: 20%;
  }

  .two-fifths {
    width: 40%;
    max-width: 40%;
    min-width: 40%;
  }

  .three-fifths {
    width: 60%;
    max-width: 60%;
    min-width: 60%;
  }

  .four-fifths {
    width: 80%;
    max-width: 80%;
    min-width: 80%;
  }