  /* Base Styles */
  html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .wrapper {
    min-height: calc(100% - 7em);
    background-color: #b4a9b6;
    padding-top: 5em;
    margin-bottom: -3em; /* Must be equal to height of footer */
  }

  /* Navbar Styles */
  .navbar {
    background-color: #000000;
    opacity: 80%;
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    align-items: baseline;
    display: inline-flex;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 1em;
    padding-bottom: 0.5em;
  }

  .navbar-right {
    display: inline-flex;
    margin-left: auto;
    margin-right: 0;
    list-style-type: none;
  }

  .nav-brand {
    font-weight: bold;
    font-size: 28px;
    font-family: "Playfair Display";
    color: #ffffff;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
  }

  .nav-link {
    color: #ffffff;
    text-decoration: none;
    padding: 0.6em 0.75em;
    border-radius: 0.75em;
    margin: 0.25em;
  }

  .nav-link:hover {
    color: #7353ba;
    opacity: 80%;
  }

  .nav-link.active {
    color: #ffffff;
    background-color: #7353ba;
  }

  /* Footer Styles */
  .footer {
    height: 3em;
    width: 100%;
    padding-top: 2em;
    background-color: #424242;
    display: inline-flex;
  }

  .footer-item {
    color: #b4a9b6;
    text-align: center;
    width: 33.33%;
    padding: auto 0;
  }

  .footer-link {
    color: #b4a9b6;
  }

  /* Content Styles */
  .card {
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    background-color: #ffffff;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: left;
  }

  .one-third {
    width: 33%;
    max-width: 33%;
    min-width: 33%;
  }

  .two-thirds {
    width: 66%;
    max-width: 66%;
    min-width: 66%;
  }

  .one-half {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
  }